/*inicio de ferramentas*/
/*dei apelidos para cada item*/
#item_1{ grid-area: card1;}
#item_2{ grid-area: card2;}
#item_3{ grid-area: card3;}
#item_4{ grid-area: card4;}
#item_5{ grid-area: card5;}
#item_6{ grid-area: card6;}

/*comecei a programar para ficar com o grid*/
#ferramentas{
    display: grid;
    grid-template-areas: /*coloquei o grid template area e os separei*/
    "card1 card2 card3"
    "card4 card5 card6";
    gap: 25px;  /*usei o gap para separar os itens*/
    text-align: center;
    margin: 60px; 
    margin-top: 500px;
    margin-bottom: 550px;
}

#ferramentas p{
    display: block;
    text-align: center;
    height: 10px;
}

#ferramentas .avisos p{
    margin-top: 1px;
}

/*coloquei cor e borda nas divs*/
#ferramentas .avisos{ 
    background-color:  rgba(167, 92, 237, 0.463);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
   width: 400px;
}

#ferramentas .eventos{
    background-color: rgba(167, 92, 237, 0.463);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 400px;
}

#ferramentas .organizacao{
    background-color: rgba(167, 92, 237, 0.463);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 400px;
}

#ferramentas .calendario{
    background-color: rgba(167, 92, 237, 0.463);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 400px;
}

#ferramentas .planos{
    background-color: rgba(167, 92, 237, 0.463);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 400px;
}

#ferramentas .compartilhamento{
    background-color: rgba(167, 92, 237, 0.463);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 400px;
}


  

/*arrumei o tamanho de todas elas e adicionei uma margem*/
#img_avisos{
    max-width: 50px;
    margin: 15px;
}

/*adicionei o hover em todas e adicionei tambem o display block para o paragrafo voltar*/


#img_eventos{
    max-width: 50px;
    margin: 15px;
}


#img_organizacao{
    max-width: 50px;
    margin: 15px;
}


#img_calendario{
    max-width: 50px;
    margin: 15px;
}


#img_planos{
    max-width: 50px;
    margin: 15px;
}


#img_compartilhamento{
    max-width: 50px;
    margin: 15px;
}


  /*arrumei o tamanho,o padding e a fonte da legenda */
legend{
    font-size: 15px;
    font-family: verdana;
    
}
/*arrumei o tamanho e o display para ela sumir*/
.paragrafo{
    font-size: 15px;
    display: none;
}

/*fim de ferramentas*/


