/*dei apelidos para cada item*/
#item_1{ grid-area: card1;}
#item_2{ grid-area: card2;}
#item_3{ grid-area: card3;}
#item_4{ grid-area: card4;}
#item_5{ grid-area: card5;}
#item_6{ grid-area: card6;}

/*comecei a programar para ficar com o grid*/
#ferramentas{
    display: grid;
    grid-template-areas: /*coloquei o grid template area e os separei*/
    "card1 card2 card3"
    "card4 card5 card6";
    gap: 7px;
    text-align: center;
}

/*coloquei cor e borda nas divs*/
#ferramentas .avisos{ 
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .eventos{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .organizacao{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .calendario{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .planos{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .compartilhamento{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(177, 177, 177);
    border-radius: 15px;
}

/*arrumei o tamanho de todas elas*/
#img_avisos{
    max-width: 50px;
    margin: 15px;
}

/*adicionei o hover em todas e adicionei tambem o display block para o paragrafo voltar*/
#item_1:hover p{
  display: block;
  text-align: center;
}

#img_eventos{
    max-width: 50px;
    margin: 15px;
}

#item_2:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

#img_organizacao{
    max-width: 50px;
    margin: 15px;
}

#item_3:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

#img_calendario{
    max-width: 50px;
    margin: 15px;
}

#item_4:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

#img_planos{
    max-width: 50px;
    margin: 15px;
}

#item_5:hover p{
    display: block;
    text-align: center;
    height: 10px;

  }

#img_compartilhamento{
    max-width: 50px;
    margin: 15px;
}

#item_6:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

  /*arrumei o tamanho,o padding e a fonte da legenda */
legend{
    font-size: 15px;
    font-family: verdana;
    padding-bottom: 10px;
}
/*arrumei o tamanho e o display para ela sumir*/
.paragrafo{
    font-size: 15px;
    display: none;
}
