


/* TODO O FOOTER*/
footer{
    background-color: rgba(0, 0, 0, 0.505);
    height: 150px;
    display: flex;
    margin-top: 100px;
}

/* SECTION DO FOTTER ( deixa as div em linha)*/
#rodape{
    display: flex;
    flex-direction: row;
}

/*----------------------------*/

/* DIV DA FOTO */
#logo_footer{
    width: 150px;
    margin-left: 70px;
    margin-top: 27px;
}

/*  FOTO*/
#logo_do_footer{
    height: 90px;
   
    }

/*----------------------------*/

/* DIV DA PARTE CONTATO*/
#contato{
    margin-left: 30px;
    width: 300px;
    border-left: 1px white solid;
    padding-left: 40px;
}

/* PARAGRAFOS DENTRO DO CONTATO*/
#contato p{
    margin-top: -10px;
}

/*----------------------------*/

#redes{
    border-left: 1px solid white;

}

/* H1 DAS REDES*/
#texto{
    text-align: center;
}


/* DIV COM AS IMAGENS DAS REDES*/
#imagens_footer{
    display: flex;
    align-items: center;
    
 }

/*CADA IMAGEM DAS REDES (tamanho)*/

#img_redes{
    width: 40px;
    height: 40px;
}

/* FIGURE COM AS IMAGENS (esta dando o espaço entre elas)*/
.img_contato{
    margin-right: 5px;
}

/*---------------------------*/

/* DIV RECLAME AQUI */
#reclame_aqui{
    margin-left: 100px;
    border-left: 1px white solid;
    padding-left: 40px;
}

#botao_footer{
    border-radius: 2px;
    background-color: purple;
}

#botao_footer:hover{
    opacity: 0.8;
}