/*início header lista*/


/*ul class*/
.menu_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 500px;
}

/*nav class*/
.menu {
    display: flex;

}

/*figure class*/
.home {
    display: flex;
    align-items: center;
}

/*h1*/
.univers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

/*image logo*/
#imagem_topo {
    width: 100px;
    height: 100px;
}

/*li class*/
.opcoes {
    list-style: none;
    padding-left: 30px;
    padding-right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: white;

}

/*li class hover*/
.opcoes:hover {
    border: rgba(151, 46, 255, 0.895) 1px solid;
    background-color: rgba(203, 161, 245, 0.515);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

/*a*/
.estilo {
    text-decoration: none;
}

#menu_fixo {
    width: 99%;
    display: flex;
    background-color: rgb(194, 146, 246);
    height: 125px;
    border-radius: 5px;
    position: fixed;
    margin-top: -7px;

}

#login_menu_ul {
    border: solid 2px rgb(98, 5, 114);
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}