
body{
    background-color: rgb(245, 173, 185);
}

ul{
  background-color: palevioletred;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

a{
    font-size: 20px;
    color: black;
    text-align: center;
}
 a:hover{
    background-color: rgb(101, 40, 50);
    color: white ;
 }